<section class="listing-apply">
  <form [formGroup]="FormUniversidad" (submit)="agregar()">
    <h2 class="section-heading">Agregar universidad</h2>
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" formControlName="nombre">

    <label for="ubicacion">Ubicación</label>
    <input id="ubicacion" type="text" formControlName="ubicacion">

    <label for="estado">Estado</label>
    <input id="estado" type="text" formControlName="estado">

    <label for="photo">Imagen</label>
    <input id="photo" type="text" formControlName="photo">

    <label for="disponibilidad">Dsiponibilidad</label>
    <input id="disponibilidad" type="text" formControlName="disponibilidad">

    <button type="submit" class="primary">Aplicar</button>
  </form>
</section>
